<h1>Places I've Been</h1>

<ul>
<li><a href="">Mexico City</a></li>
<li><a href="">Charleston</a></li>
<li><a href="">Beijing</a></li>
<li><a href="">Amsterdam</a></li>
</ul>

<p>
<a href="">New Company</a>
</p>